
  <!-- ======= Hero Section ======= -->
  <section id="home">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1 style="font-size: 39px;">Your Path to Wholesome Eating with <span> NutriGuide</span></h1>
            <h2 style="font-size: 22px;">Discover the food that's right for you</h2>
            <div class="text-center text-lg-start">
                <!-- 
                <a href="#contact" class="btn-get-started scrollto">Get Started</a> &nbsp; 
                -->
              <a href="javascript:void(0);" (click)="openSignUpModal(SignUpModaltemplate)" class="btn-get-started scrollto">Get Started</a> &nbsp;
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video align-items-center" style="color: #fff; vertical-align: middle;">
                <svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" viewBox="0 0 32 32"><path fill="none" d="M11 23a1 1 0 0 1-1-1V10a1 1 0 0 1 1.447-.894l12 6a1 1 0 0 1 0 1.788l-12 6A1 1 0 0 1 11 23"/><path fill="white" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m7.447 14.895l-12 6A1 1 0 0 1 10 22V10a1 1 0 0 1 1.447-.894l12 6a1 1 0 0 1 0 1.788"/></svg>
                <span>&nbsp;Watch Video</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="assets/img/reps.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs><path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs>
        <g class="wave1"><use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use></g>
        <g class="wave2"><use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use></g>
        <g class="wave3"><use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use></g>
    </svg>
  </section><!-- End Hero -->

<main class="main">
    <div class="content">
    
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
          <div class="container-fluid">
    
            <div class="row">
              <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                <!-- <a href="https://www.youtube.com/watch?v=StpBR2W8G5A" class="glightbox play-btn mb-4"></a> -->
                <img src="assets/img/about3.jpg" alt="" style="width: 80%; height: 75%;">
              </div>
    
              <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                <h3>Welcome to our Nutrition Guide!</h3>
                <p>NutriGuide, your go-to resource for understanding food and calorie intake! 
                  <br>We provide a unique AI powered platform to help you navigate the complexities of food choices and their impact on your overall health.</p>
    
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="bx bx-fingerprint"></i></div>
                  <h4 class="title"><a href="">In-Depth Food Queries</a></h4>
                  <p class="description">An interactive support platform where you can inquire about specific food items to discover their calorie content, macronutrient breakdown, and potential health benefits or concerns tailored to your health profile.</p>
                  
                </div>
    
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="bx bx-gift"></i></div>
                  <h4 class="title"><a href="">Personalized Guidance</a></h4>
                  <p class="description">Resources to help you understand your unique nutritional needs and how to meet them effectively.</p>
                </div>
    
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon"><i class="bx bx-atom"></i></div>
                  <h4 class="title"><a href="">Calorie Database</a></h4>
                  <p class="description">An extensive collection of food items with detailed calorie information and nutritional profiles, making it easy to track your intake.</p>
                </div>
    
              </div>
            </div>
    
          </div>
      </section><!-- End About Section -->


      <!-- ======= Counts Section ======= -->
      <section id="features" class="counts">
          <div class="container">
              <div class="section-title" data-aos="fade-up">
                  <h2>Statistic</h2>
                  <p>World Health Statistics</p>
              </div>

              <div class="row" data-aos="fade-up">

                  <div class="col-lg-3 col-md-6">
                  <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span data-purecounter-start="0" data-purecounter-end="422" data-purecounter-duration="1" class="purecounter"></span>
                      <p>Million People with Diabetes</p>
                  </div>
                  </div>

                  <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                  <div class="count-box">
                      <i class="bi bi-journal-richtext"></i>
                      <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="1" class="purecounter"></span>
                      <p>Million People with Hypertension</p>
                  </div>
                  </div>

                  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                  <div class="count-box">
                      <i class="bi bi-headset"></i>
                      <span data-purecounter-start="0" data-purecounter-end="116" data-purecounter-duration="1" class="purecounter"></span>
                      <p>Million Women Affected by PCOS</p>
                  </div>
                  </div>

                  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                  <div class="count-box">
                      <i class="bi bi-people"></i>
                      <span data-purecounter-start="0" data-purecounter-end="79" data-purecounter-duration="1" class="purecounter"></span>
                      <p>% of People Obese</p>
                  </div>
                  </div>

              </div>

          </div>
      </section><!-- End Counts Section -->

      <!-- ======= Features Section ======= -->
      <section id="features1" class="features">
          <div class="container">
      
              <div class="section-title" data-aos="fade-up">
              <h2>Features</h2>
              <p>Review The Features</p>
              </div>
      
              <div class="row" data-aos="fade-left">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                    <img src="assets/img/Register.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Nutritional Breakdown')">Nutritional Breakdown</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <img src="assets/img/Solution1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Food Groups Overview')">Food Groups Overview</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
                      <img src="assets/img/Heart1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Calorie Count')">Calorie Count</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/Newspaper1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Meal Planning')">Meal Planning</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
                    <img src="assets/img/Affiliate1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Mindful Eating Strategies')">Mindful Eating Strategies</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <img src="assets/img/lightbulb1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Nutritional Myths & Facts')">Nutritional Myths & Facts</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
                    <img src="assets/img/file1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Physical Activity Guidance')">Physical Activity Guidance</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                    <img src="assets/img/Database1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Dietary Considerations')">Dietary Considerations</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
                    <img src="assets/img/Community1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Hydration Tips')">Hydration Tips</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                    <img src="assets/img/Activity1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Seasonal Food Guides')">Seasonal Food Guides</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
                    <img src="assets/img/ReportV2-1.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'Cooking Substitutes')">Healthy Swaps</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
                    <img src="assets/img/ReportV2.gif" alt="" style="width: 3pc;">
                    <h3><a href="javascript:void(0);" (click)="openFeatureUpModal(FeatureModaltemplate, 'FAQs')">FAQs</a></h3>
                    </div>
                </div>
              </div>    
          </div>
      </section><!-- End Features Section -->
 
    </div>
    <br /><br />
</main>


<!-- SignUp Modal Template -->
<ng-template #SignUpModaltemplate>
    <div class="modal-header" style="background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=996&t=st=1728796980~exp=1728797580~hmac=a24c65db2bd0c2c4ded0272337fa29d9c9e10a389c59ec64cd677324920d9e07); height: 62px; font-size: 25px; color: #fff;">  Sign up </div>
    <div id="scrollbar1" class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto; padding: 25px;">
        
      <form #signupForm="ngForm" name="signupForm" id="signupForm" novalidate style="font-size: 13px;">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted" style="padding-bottom: 20px; font-weight: 600; font-size: 20px;">Personal Information</h6>
            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" ngModel required #firstname="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && firstname.errors }">
                @if (signupForm.submitted && firstname.errors) {
                  <div class="invalid-feedback">
                  @if (firstname.errors['required']) {
                    <div>Required field</div>
                  }</div>
                }
              </div>
              <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" ngModel required #lastname="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && lastname.errors }">
                @if (signupForm.submitted && lastname.errors) {
                  <div class="invalid-feedback">
                  @if (lastname.errors['required']) {
                    <div>Required field</div>
                  }</div>
                }
              </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-8">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" ngModel required #email="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && email.errors }">
                @if (signupForm.submitted && email.errors) {
                  <div class="invalid-feedback">
                  @if (email.errors['required']) {
                    <div>Required field</div>
                  }</div>
                }
              </div>

            </div>

            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" ngModel required #username="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && username.errors }">
                @if (signupForm.submitted && username.errors) {
                  <div class="invalid-feedback">
                  @if (username.errors['required']) {
                    <div>Required field</div>
                  }</div>
                }
                <div *ngIf="!validEmail" class="invalid-feedback">Invalid email</div>
                <div *ngIf="emailExists" class="invalid-feedback">Email exists</div>
              </div>
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" ngModel required #password="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && password.errors }">
                @if (signupForm.submitted && password.errors) {
                  <div class="invalid-feedback">
                  @if (password.errors['required']) {
                    <div>Required field</div>
                  }</div>
                }
                <div *ngIf="!validPswd" class="invalid-feedback">Password rules: Minimun 8 letters, with at least a symbol, upper & lower case letters and a number.
                </div>
              </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input type="number" class="form-control" name="age" id="age" ngModel>
              </div>
              <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <select class="form-select" name="gender" id="gender" class="form-control" required ngModel #gender="ngModel" >
                  <!-- (change)='showParent($event)' -->
                  <option value=Male>Male</option>
                  <option value=Female>Female</option>
                  <option value=Other>Other</option>
                </select>
              </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-4">
                <label for="username">Height</label>
                <input type="text" class="form-control" name="height" id="height" ngModel>
              </div>
              <div class="form-group col-md-4">
                <label for="weight">Weight</label>
                <input type="text" class="form-control" name="weight" id="weight" ngModel>
              </div>
              <div class="form-group col-md-4">
                <label for="bmi">BMI</label>
                <input type="text" class="form-control" name="bmi" id="bmi" ngModel>
              </div>
            </div>
            
          </div>
        </div>  

        <br />
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted" style="padding-bottom: 20px; font-weight: 600; font-size: 20px;">Medical History</h6>

            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-12">
                <label for="email" style="font-size: 16px; margin-bottom: 20px;">Medical Condition</label>
                <table>
                  <tr>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Asthma" name="medicond_Asthma" ngModel /></td> <td style="padding: 5px;width: 150px;">Asthma</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Cancer" name="medicond_Cancer" ngModel /></td> <td style="padding: 5px;width: 150px;">Cancer</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Cardiac Disease" name="medicond_Cardiac Disease" ngModel /></td> <td style="padding: 5px;width: 150px;">Cardiac Disease</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Diabetes" name="medicond_Diabetes" ngModel /></td> <td style="padding: 5px;width: 150px;">Diabetes</td>
                  </tr>

                  <tr>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Hypertension" name="medicond_Hypertension" /></td> <td style="padding: 5px;width: 150px;">Hypertension</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Psychiatric Disorder" name="medicond_Psychiatric Disorder" ngModel /></td> <td style="padding: 5px;width: 150px;">Psychiatric Disorder</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Epilepsy" name="medicond_Epilepsy" ngModel /></td> <td style="padding: 5px;width: 150px;">Epilepsy</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Paralysis" name="medicond_Paralysis" ngModel /></td> <td style="padding: 5px;width: 150px;">Paralysis</td>
                  </tr>

                  <tr>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Kidney failure" name="medicond_Kidney failure" ngModel /></td> <td style="padding: 5px;width: 150px;">Kidney failure</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Deafness" name="medicond_Deafness" ngModel /></td> <td style="padding: 5px;width: 150px;">Deafness</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Blindness" name="medicond_Blindness" ngModel /></td> <td style="padding: 5px;width: 150px;">Blindness</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_AIDS" name="medicond_AIDS" ngModel /></td> <td style="padding: 5px;width: 150px;">AIDS</td>
                  </tr>

                  <tr>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_PCOS" name="medicond_PCOS" ngModel /></td> 
                    <td style="padding: 5px;width: 150px;">PCOS</td>
                    <td style="padding: 5px;"><input type="checkbox" id="medicond_Other" name="medicond_Other" ngModel /></td> 
                    <td style="padding: 5px;width: 150px;">Other</td>
                  </tr>
                </table>
              </div>
            </div>

            <br />
            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-12">
                <label for="email" style="font-size: 16px; margin-bottom: 20px;">Medication</label>
                <br />
                <textarea class="form-control" ngModel id="medication" name="medication" style="width: 70%; height: 100px; font-size: 13px;"></textarea>
              </div>
            </div>

            <br />
            <div class="row" style="margin-bottom: 15px;">
              <div class="form-group col-md-12">
                <label for="email" style="font-size: 16px; margin-bottom: 20px;">Allergies</label>
                <br />
                <textarea class="form-control" ngModel id="allergies" name="allergies" style="width: 70%; height: 100px; font-size: 13px;"></textarea>
              </div>
            </div>
                
            
          </div>
        </div> 
       

        <br />
        <button type="submit" (click)="saveUser(signupForm)" class="btn btn-primary">Sign in</button>
      </form>


        <!--  {{ modalService.config.initialState }} ==== -->
    </div>
</ng-template>


<!-- Feature Modal Template -->
<ng-template #FeatureModaltemplate>
    <div class="modal-header icon-boxes" style="background-color: #1acc8d;">
      <h6 style="font-weight: 600; color: #fff;"><a>{{featureData.feature}}</a></h6>
    </div>
    <div id="scrollbar1" class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto; padding: 10px 15px;">
        <div class="row" style="width: 100%;">
          <p class="description" style="line-height: 24px; font-size: 14px;">{{featureData.data}}</p>
        </div>
    </div>
</ng-template>

